div.cointainer{
    min-height: 100vh;
}

body{
<<<<<<< HEAD
    
=======
>>>>>>> 860cfe890f03af08bde5a886f5a8fe08be43c933
    background-image: linear-gradient(to top, #890d6f, #9e2f7d, #b4488c, #c8619c, #dd79ac, #e784b0, #f18fb4, #fb9ab9, #fc9ab2, #fd9bab, #fc9da4, #fb9e9e);
    min-height: 100vh;
}

a{
    text-decoration: none !important;
    color: #e21150 !important;
    font-size: 1.3rem;
    transition: 0.3s;
    text-shadow: 1px 1px 0.5px black;    
}

a:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
    text-decoration: underline !important;

}

main{
    display: flex;
    flex-grow: 1 !important;
<<<<<<< HEAD
  
=======
>>>>>>> 860cfe890f03af08bde5a886f5a8fe08be43c933
}

i{
    transition: 0.3s;

}

i:hover{
    transition: 0.2s;
    transform: scale(1.2);
    text-decoration: underline !important;
}
