
body {
  margin: 0px;
 
  /* background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  background-image: linear-gradient(to left top, #ffffff, #dddddd, #bcbcbc, #9d9d9d, #7e7e7e);
  text-align:center;
  
}

* {
  
  box-sizing: border-box;
}

.cointainer{
  width: 95%;
  margin: 0 auto;
}



@font-face {

  font-family: 'RampartOne' ;
  src: url(../fonts/RampartOne-Regular.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: 400;

}

h1{

  font-family: 'Righteous', cursive;
  font-size: 4rem;
  /* text-shadow: 0px 0px 5px rgb(0, 0, 0); */
  color:rgb(0, 0, 0); 
  margin-bottom: 0px;
  letter-spacing: 3px;
}

nav{

  font-family: 'Righteous', cursive;
  padding-top: -5px;
  margin: 0;
  /* text-shadow: 0px 0px 1.5px rgb(0, 0, 0); */
  color:rgb(0, 0, 0)
  /* text-decoration: underline; */

}

h3{
  font-family: 'Righteous', cursive;
  /* font-family: 'RampartOne'; */
  font-size: 30px;
  font-weight: 700;
  /* text-shadow: 0px 0px 1.5px rgb(0, 0, 0); */
  color:rgb(17, 17, 17); 
  font-style: italic;
  padding: 0px 5px;
    

}

i{

    font-size: 20px;

}

img{
    margin-top: 10px;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    
}




aside{
    /* width: 48vw;  */
    /* max-width: 900px;
    min-width: 400px; */
    /* white-space: nowrap; */

}





a{
  text-decoration: none;
  font-style: initial;
  text-decoration: none;
  text-decoration-color: rgb(102, 252, 65);
}

.link_aside:hover{
  text-decoration: underline;
  color:rgb(0, 0, 0); 
}

footer{
  /* max-width: 1500px; */
  /* min-width: 300px; */
  text-align: center;
  /* padding: px 0px 0px 0px; */
  font-size: 20px;
  font-weight: bold;
  color:rgb(0, 0, 0);
  margin-top: 50px;
  
}

.down_link{
  font-size: 1rem;
  text-decoration: none;
  color: rgb(26, 25, 25);
  text-shadow: 0px 0px 0.5px black;
}

.down_link:hover{
  text-decoration: underline;

}

.aside_boxes{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

header{
  grid-area: header;
}

nav{
  grid-area: nav;
}

.aside_boxes{
  grid-area: aside_boxes;
}

footer{
  grid-area: footer;
}

.grid_all{
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr 5fr 1fr; */
  grid-template-areas: "header"
                       "nav"
                       "aside_boxes"
                       "footer"; 
}

@media (min-width: 500px) {
  img{

    border-radius: 15px;
    width: 400px;
    height: 600px;
  }
  .down_link{
    font-size: 1.5rem;
    }


}



@media (min-width: 992px) {
  .cointainer{
    width: 70vw;
    margin: 0 auto;
  }

  .aside_boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto auto auto; */
  }

  H3{
    font-size: 40px;
    
    
  }


}