
body {
  margin: 0px;
 


  background-image: radial-gradient(circle, #85f8e9, #63ecf3, #49defb, #47ceff, #5cbdff, #6ebcfc, #7dbaf9, #8ab9f6, #97c7f7, #a9d5f7, #bee1f8, #d5edf9);
  text-align:center;
  
}

* {
  
  box-sizing: border-box;
}

.cointainer{
  width: 95%;
  margin: 0 auto;
}



@font-face {

  font-family: 'RampartOne' ;
  src: url(../fonts/RampartOne-Regular.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: 400;

}

h1{

  font-family: 'RampartOne';
  font-size: 4rem;
  text-shadow: 0px 0px 1.5px rgb(0, 0, 0);
  color:rgb(0, 0, 0); 
  margin-bottom: 0px;
}

nav{

    font-family: 'RampartOne';
    padding-top: -5px;
    margin: 0;
    text-shadow: 0px 0px 1.5px rgb(0, 0, 0);
    color:rgb(0, 0, 0)
    /* text-decoration: underline; */

}

h3{

    /* font-family: 'RampartOne'; */
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(17, 117, 8);
    color:rgb(102, 252, 65); 
    font-style: italic;
    padding: 0px 5px;
    

}

i{

    font-size: 20px;

}

img{

    border-radius: 15px;
    width: 300px;
    height: 500px;
    
}




aside{
    /* width: 48vw;  */
    /* max-width: 900px;
    min-width: 400px; */
    /* white-space: nowrap; */

}





a{
  text-decoration: none;
  font-style: initial;
  text-decoration: underline;
  text-decoration-color: rgb(102, 252, 65);
}

footer{
  /* max-width: 1500px; */
  /* min-width: 300px; */
  text-align: center;
  /* padding: px 0px 0px 0px; */
  font-size: 20px;
  font-weight: bold;
  color:rgb(0, 0, 0);
  
  
}

.down_link{

text-decoration: none;
color: rgb(109, 8, 84);
}

.aside_boxes{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

header{
  grid-area: header;
}

nav{
  grid-area: nav;
}

.aside_boxes{
  grid-area: aside_boxes;
}

footer{
  grid-area: footer;
}

.grid_all{
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr 5fr 1fr; */
  grid-template-areas: "header"
                       "nav"
                       "aside_boxes"
                       "footer"; 
}

@media (min-width: 500px) {
  img{

    border-radius: 15px;
    width: 400px;
    height: 600px;
    
}

}



@media (min-width: 992px) {
  .cointainer{
    width: 70vw;
    margin: 0 auto;
  }

  .aside_boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto auto auto; */
  }



}