body{
    background-image: linear-gradient(to bottom, #ee7cb3, #f98a99, #f69e8b, #ebb38a, #dec697, #dccc99, #d9d29d, #d5d8a1, #dad690, #e0d37e, #e8cf6d, #f2ca5b);
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 1rem 1rem 1rem;
    
}


