*{
    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: 'Sansita Swashed', cursive;
}


div.Full_model{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-grow: 1;

}

.left_height_block{
    background-color: brown;
    height: 97%;
    width: 25%;
    min-width: 150px;
    min-height: 400px;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem auto 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 40%;
    height: 20%; 
    border-radius: 100%;   

}

h1{
    text-align: center;
    

}

h2{
    color: rgba(169, 169, 169, 0.685);
    margin-top: -5px;
}

button{
    background-color: rgb(243, 123, 11);
    padding: 1rem 3rem 1rem 3rem;
    font-family: 'Sansita Swashed', cursive;
    font-size: large;
    font-weight: 700;
    border-radius: 15px;


}

.right_block_all{
    display: flex;
    background-color: chartreuse;
    height: 100%;
    width: 75%;
    flex-wrap: wrap;
    
}

.box{
    height: 47%;
    min.width: 300px;
    flex-grow: 1;
    margin: 1rem 1rem 0.5rem 1rem;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.number{
    Color: rgb(243, 123, 11);
    font-size: 3rem;


}

.discription{
    font-size: 1.5rem;
    color: rgba(169, 169, 169, 0.685);
}

.box_bottom4{
    height: 48%;
    width: 100%;
    margin: 0.5rem 1rem 1rem 1rem;
    background-color: purple;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    text-align: justify;
    
}