div.cointainer{
    min-height: 100vh;
}

body{
    background-image: linear-gradient(to right top, #795faa, #8d72b5, #a086c0, #b29acb, #c4afd7, #c4acdc, #c4aae2, #c4a7e7, #ae8de8, #9374e9, #6e5deb, #2f48ee);
    min-height: 100vh;
}

a{
    text-decoration: none !important;
    color: #1e5aca !important;
    font-size: 1.3rem;
    transition: 0.3s;
    
}

a:hover{
    transition-duration: 0.5s;
    transform: scale(1.2);
    text-decoration: underline !important;

}

main{
    display: flex;
    flex-grow: 1 !important;
    /* align-items: center !important;
    justify-content: center !important;
    margin: 20%; */
}

i{
    transition: 0.3s;

}

i:hover{
    transition: 0.5s;
    transform: scale(1.2);
    text-decoration: underline !important;
}