body{
    background-image: linear-gradient(to right top, #f3b2c2, #ffbab6, #ffc5ab, #ffd3a3, #fae3a2, #eaedad, #daf6bd, #cdfed1, #caffe6, #d1fef5, #e0fcfd, #f1fafc);
    min-height: 100vh;
}

a{
    text-decoration: none !important;
    color: #1bac08 !important;
    font-size: 1.3rem;
    transition: 0.3s;
}

a:hover{
    transition-duration: 0.5s;
    transform: scale(1.2);
    text-decoration: underline !important;

}

main{
    display: flex;
    flex-grow: 1 !important;

}